$font-size-1: 0.9rem

div
  &#canvas
    display: flex
    flex-direction: column
    height: 100%
    width: 100%
    text.users
      font-size: $font-size-1
    div#lines
      height: 100%
      width: 100%
      overflow: scroll
      svg#main_svg
        height: 1000px
