// CSS only for mobile
@media screen and (max-width: 999px)

  // Colors
  $background-1: #d5b7b278
  $background-2: #e8e8e496
  $background-3: #d8e2dc8f
  $background-4: #ece4db85
  $background-5: #ffe5d959
  $background-6: #d8e2dc
  $dropdown: #e8e8e4

  // Spacing
  $spacing-xxl: 10em
  $spacing-llarge: 4em
  $spacing-large: 2em
  $spacing-med: 1em
  $spacing-small: 0.5em

  // Font-sizes
  $font-size-1: 1rem
  $font-size-2: 1.5rem
  $font-size-3: 2rem
  $font-size-4: 2.5rem
  $font-size-5: 3rem
  $font-size-6: 3.5rem
  $font-size-7: 4rem

  $menu-size: 8vh

  html
    height: 100%
    box-sizing: border-box
    border: solid 5px white
    body
      display: flex
      flex-direction: column

      gap: 3px
      height: 100%
      overflow: hidden
      header
        display: flex
        min-height: 10%
        background-color: $background-1

        justify-content: center
        align-items: center
        justify-content: space-between
        align-items: center
        padding: 0 $spacing-llarge
        h1
          display: flex
          height: 100%
          justify-content: center
          align-items: center
          font-size: $font-size-7

        menu
          display: flex
          height: 100%
          justify-content: center
          align-items: center

          span#mobile_menu
            display: block
            font-size: $menu-size
          span#desktop_menu
            display: none

      main
        height: 80%
        flex: 0 0 auto
        
        div

          &#dropdown
            height: 100%
            display: none
            background-color: $background-1
            grid-border: 3px
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: 1fr 1fr 1fr
            form
              display: flex
              justify-content: center
              align-items: center
              font-size: $font-size-5
              fieldset
                padding: 1vh 2vh
                height: 100%
                width: 100%

                input[type='number']
                  font-size: $font-size-5
                  width: 60%
                input[type='radio']
                  height: 35px
                  width: 35px

         

        section
          justify-content: center
          align-items: center
          display: none
          &#seq
            height: 80%
            display: flex
            background-color: $background-2
            h2
              font-size: $font-size-7
          &#data
            height: 100%
            display: flex
            height: 20%
            background-color: $background-3
            h2
              font-size: $font-size-7
          &#congwin
            height: 100%
            background-color: $background-4
            h2
              font-size: $font-size-7
          &#auto
            height: 100%
            background-color: $background-5
            h2
              font-size: $font-size-7
      nav
        background-color: $background-4
        height: 10%
        font-size: $font-size-1
        bottom: 0

        ul
          display: flex

          height: 100%
          flex-direction: row
          align-items: center

          li
            flex: 1 1 0
            display: flex
            height: 100%
            padding: $spacing-small
            text-align: center
            align-items: center
            justify-content: center
            font-size: $font-size-5
            border: solid 1px white

            a
              -webkit-tap-highlight-color: transparent
              color: black

  *
    margin: 0
    padding: 0
    text-decoration: none
    list-style-type: none
    font-family: 'Helvetica', sans-serif
    font-weight: lighter
    box-sizing: inherit
    &:before, &:after
      box-sizing: inherit

      
