<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TCP-Congestion-Control</title>
    <script src="main.js"></script>
  </head>
  <body>
    <header>
      <h1 id="textTcpCongestionControl" class="lang">TCP Congestion Control</h1>
      <menu id="dropdownMenu">
        <span id="mobileMenu">&#8801;</span>
        <button type='button' id="desktopMenu" class="lang">Configuration</button>
      </menu>
      
    </header>
    <main>
      <section id="dropdownSpace" class="visual">
        <div id="dropdownContent">
          <form id="version" class="string">
            <fieldset>
              <legend class="lang" id="textCongestionControlAlg">
                Congestion Control Algorithm
              </legend>
              <input type="radio" id="reno" name="option" value="Reno" checked/>
              <label for="reno">Reno</label><br />
              <input
                type="radio"
                id="tahoe"
                name="option"
                value="Tahoe"
                
              />
              <label for="tahoe">Tahoe</label><br />
              
            </fieldset>
          </form>
          <form class="numeric">
            <fieldset>
              <legend class="lang" id="textRoundTripDelay">
                Round Trip Delay in ms
              </legend>
              <input type="number" class='setting' id="roundTripTimeMS"/>
            </fieldset>
          </form>
          <form class="numeric settings">
            <fieldset>
              <legend class="lang" id="textSegmentSize">
                Segment Size in Byte
              </legend>
              <input type="number" id="segSizeByte"  class='setting' />
            </fieldset>
          </form>
          <form  class="numeric">
            <fieldset>
              <legend class="lang" id="textTimeout">Timeout Span in RTT</legend>
              <input type="number" id="timeoutSpan" class='setting'/>
            </fieldset>
          </form>
          <form  class="numeric">
            <fieldset>
              <legend class="lang" id="textInitialThreshold">
                Initial Threshhold in MSS
              </legend>
              <input type="number" id="initialThreshold" class='setting'/>
            </fieldset>
          </form>
          <form  class="numeric">
            <fieldset>
              <legend class="lang" id="textTransmissionRate">
                Transmission Rate in kByte/s
              </legend>
              <input type="number" id="transrateKBytePerSecond" class='setting' />
            </fieldset>
          </form>
          <form id="changeLang">
            <fieldset>
              <legend class="lang" id="textLanguage">Language</legend>
              <input
                type="radio"
                id="english"
                name="option"
                value="en"
                checked
              />
              <label for="english" class="lang" id="textEnglish">English</label
              ><br />
              <input type="radio" id="german" name="option" value="de" />
              <label for="german" class="lang" id="textGerman">German</label
              ><br />
            </fieldset>
          </form>
        </div>
      </section>
      
      <section id="dataSpace" class="visual">
        <div id="dataContent">
          <form id="tcpStateForm">
            <span class='lang' id='textTcpState'>TCP State:</span>
            <input type="text" id="tcpState" class="data" />
          </form>
          <form id="ccStateForm">
            <span class='lang' id='textCcState'>CC State:</span>
            <input type="text" id="ccState" class="data" />
          </form>
          <form id="congWinForm">
            <span class='lang' id='textCongWin'>Congestion<br/>Window:</span>
            <input type="text" value="0" id="congWin" class="data" />
          </form>
          <form id="currentTrafficForm">
            <span class='lang' id='textCurrentTraffic'>Current<br/>Trafic:</span>
            <input type="number" value="0" id="currentTraffic" class="data" />
          </form>
          <form id="threshForm">
            <span class='lang' id='textThreshold'>Threshold:</span>
            <input type="number" value="10" id="threshold" class="data" />
          </form>
          <form id="event">
            <span>Event:</span>
            <input type="text" value="" id="lastEvent" class="sessionData" />
          </form>
          <form id='roundForm'>
            <span class='lang' id='textRound'>Round:</span>
            <input type='number' value='' id='round' class='data'/>
          </form>
          <form id="press">
            <button type='button' id="send" >Next</button>
            <button type='button' id="loss" >Loss</button>
            <button type='button' id="startButton" >Start</button>
            <button type='button' id="tcpEnd" >End</button>
          </form>
        </div>
      </section>
      <section id="seqSpace" class="visual">
        <div id="seqContent">
          <div id="canvas">
            <div id="names">
              <svg
                width="100%"
                viewbox="0 0 250 28"
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <text x="10" y="25" class="users">Client</text>
                <text x="200" y="25" class="users">Server</text>
              </svg>
            </div>
            <div id="lines">
              <svg
                id="mainSvg"
                width="100%"
                height="100%"
                style="height: 100%"
                viewbox="0 0 100 100"
                preserveAspectRatio="none"
              >
                <line
                  x1="10%"
                  y1="0"
                  x2="10%"
                  y2="100%"
                  stroke="black"
                  stroke-width="0.1"
                ></line>
                <line
                  x1="90%"
                  y1="0"
                  x2="90%"
                  y2="100%"
                  stroke="black"
                  stroke-width="0.1"
                ></line>
                <g id="tcpMetaMessages"></g>
                <g id="tcpSegments"></g>
                <g id="timeoutBarSvg"></g>
              </svg>
            </div>
          </div>
        </div>
      </section>
      <section id="congwinSpace" class="visual">
        <div id="congwinContent">
          <svg
            id="diagramSvg"
            width="100%"
            height="100%"
            style="height: 100%"
            viewbox="0 0 100 100"
            preserveAspectRatio="none"
          >
            <line
              x1="5%"
              y1="90%"
              x2="100%"
              y2="90%"
              stroke="black"
              stroke-width="0.1"
            ></line>
            <line
              x1="5%"
              y1="90%"
              x2="5%"
              y2="0%"
              stroke="black"
              stroke-width="0.1"
            ></line>
            <g id="axisNumbers"></g>
            <g id="dataPoints"></g>
          </svg>
        </div>
      </section>
      <section id="autoSpace" class="visual">
        <div id="autoContent">
          <h2>TCP State Automaton</h2>
        </div>
      </section>
    </main>
    <nav>
      <ul>
        <li class="tab lang" id="seqTab">Sequence</li>
        <li class="tab lang" id="autoTab">Automaton</li>
        <li class="tab lang" id="congTab">Congestion Window</li>
      </ul>
    </nav>
  </body>
</html>
